heart.egg-info
__pycache__
build/
.venv
**/.DS_Store
bluetooth.log
ant_hr.log
**/*.egg-info
*.log
*.erc
*.ini
*.pkl

# WASM build artifacts
src/heart/server/static/decoder.js
src/heart/server/static/decoder.wasm
src/heart/server/static/renderer.js
src/heart/server/static/renderer.wasm
src/heart/server/static/stb_image.h