HEART_REPO_DIR=/home/michael/Desktop/heart
HEART_DEVICE_LAYOUT=rectangle
HEART_LAYOUT_COLUMNS=4
HEART_LAYOUT_ROWS=1
HEART_PANEL_COLUMNS=64
HEART_PANEL_ROWS=64
HEART_RGB_DISPLAY_BACKEND=native
HEART_RGB_MATRIX_HARDWARE_MAPPING=electrodragon_p0
HEART_PI5_MATRIX_BACKEND=rp1-hub75
HEART_PI5_SIMPLE_SCAN_DEFAULT_PWM_BITS=8
HEART_RP1_HUB75_EXTERNAL_SRAM_SLOT_OFFSET=0xb800
HEART_RP1_HUB75_SIGNAL_VSYNC_AFTER_QUEUE=0
HEART_RP1_HUB75_EXTERNAL_SCANNER=1
HEART_RP1_HUB75_SCANNER_CANDIDATE=state32-dmapipeline4x4-rr01-cols256-frame8-dwell8-electrodragonp0-addr2slow-clk2slow-latoe2slow-lat2-addrnop8-rgbsetclr-preclk1-unroll8
FORWARD_TO_BEATS_APP=0
RUN_CONFIGURATION=sun
